apache-airflow[otel]==3.3.0
apache-airflow-providers-amazon==9.31.0
apache-airflow-providers-git==0.4.0
apache-airflow-providers-http==6.0.4
apache-airflow-providers-openai==1.7.5
apache-airflow-providers-postgres==6.8.0
apache-airflow-providers-standard==1.15.0
clickhouse-connect==1.4.1
